/*let me know what you think of these theme colors, I got them off pinterest:
--powder: #FDF5F4;
--blush: #FFF1EF;
--dusty-pink: #EFE2E0;
--latte: #DFD4CC;
--light-taupe: #d8d1ce;
--mocca: #c2adai

*/ 
body{
    background:#FDF5F4;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#EFE2E0;
    padding: 15px 40px;
}

.main-nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    background: #d8d1ce;
}

.introduction{
    width: 60%;
    margin:40px auto;

    padding: 30px;
    border-radius: 12px;

    color: rgb(0, 0, 0);
}


.recipe-grid{
    display:flex;
    gap:40px;
    justify-content:center;
    flex-wrap:wrap;
 }
.card-flip{
    width:200px;
    height:260px;
    perspective: 1000px;
}
.card-flip-inner{
    position: relative;
    width: 100%;
    height:100%;
    transition: transform .6s;
    transform-style:preserve-3d ;
}

.card-flip:hover .card-flip-inner{
    transform:rotateY(180deg);
}
.card-flip-front,
.card-flip-back{
    position:absolute;
    width:100%;
    height:100%;

    backface-visibility: hidden;
    border-radius: 12px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow:0 4px 12px rgba(0,0,0,0.15);

}
.card-flip-front{
    background: white;
}
.card-flip-front img{
    width:100%;
    height: 100px;
    object-fit:cover;
    border-radius: 12px;
}

.card-flip-back{
    background: white;
    transform:rotateY(180deg);

    padding:15px;
    text-align:center;

}
.recipe-page{
    width:900px;
    margin:0 auto;
}

.recipe-title{
    text-align: center;
    margin-top: 40px;
}

.recipe-image{
    display:flex;
    justify-content: center;
    margin:40px;
}

.recipe-image img{
    width:800px;
    height:350px;
    object-fit:cover;
    border-radius:10px;
}

.recipe-info-container{
    display:flex;
    justify-content:center;
    gap:80px;
    margin-top:40px;
}
    
.ingredients-box{
    width:260px;
    height:350px;
    background:#d9d9d9;
    padding:20px;
    border-radius:10px;
}

.recipe-info-box{
    width:260px;
    height:350px;
    background:#d9d9d9;
    padding:20px;
    border-radius:10px;
}
.review-button{
    text-align:center;
    margin:30px 0;
}
.recipe-steps{
    width:800px;
    margin:0 auto;
    line-height:1.7;
}

